.fullContainer{
    width: 100%;
}

.smallContainer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hiddenElement{
    display: none
}

.visibleElement{
    
}

.top-toolbar{
    padding: 0 15px; 
}